PORT=3000
SUPABASE_URL=http://localhost:8000
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

# Para a Engine de Previsão de Clima (Opcional, mock embutido)
OPENWEATHER_API_KEY=
ARIQUEMES_LAT=-9.9133
ARIQUEMES_LON=-63.0408
